spring.datasource.url=db_url
spring.datasource.username=db_user
spring.datasource.password=db_password
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.liquibase.change-log=classpath:db/liquibase-changelog.xml
spring.kafka.consumer.group-id=kafka_group_id
spring.kafka.bootstrap-servers=kafka_bootstrap_servers
jwt.secret=jwt_secret_at_least_256_characters